

html,
body {
	height: 100%;
	font-family: 'Oswald', sans-serif;
	-webkit-font-smoothing: antialiased;
	
	background:#ced4da;
}

.container-fluid{
	margin:0 30px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: green;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


/*---------------------
  Header
-----------------------*/
.header{
	background:green;

	
	
}
.header__top {
	background: white;

}

.header__top__left {
	padding: 10px 0 13px;
}

.header__top__left ul li {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;
}

.header__top__right__social {
	position: relative;
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social:after {
	position: absolute;
	right: -20px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__social a {
	font-size: 14px;
	display: inline-block;
	color: #1c1c1c;
	margin-right: 20px;
}

.header__top__right__social a:last-child {
	margin-right: 0;
}



.header__top__right__auth {
	display: inline-block;
}

.header__top__right__auth a {
	display: block;
	font-size: 14px;
	color: #1c1c1c;
	border-right:1px solid black;
	padding:0 8px;
}
.header__top__right__auth a:hover{
	color:green;
}

.header__top__right__auth a i {
	margin-right: 6px;
}

.header__logo {
	padding: 15px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 20px 0;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}




.header__menu ul li.active a {
	color: white;
}


.header__menu ul li:hover>a {
	color: white;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}


.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}
/*---------------------
  modal đăng nhập
-----------------------*/
 .modal-login {		
		color: #636363;
		width: 350px;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	
	.modal-login #header {
		border-bottom: none;   
        position: relative;
        justify-content: center;
	}
	
	
	.modal-login .fc:focus {
		border-color: #70c5c0;
	}
	.modal-login .fc, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	
	.modal-login .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #94d82d;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-login .avatar i {
		font-size:70px;
		margin-left:1px;
		color:white;
		
	}
	.modal-login.modal-dialog {
		margin-top: 80px;
	}
    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
		background: #94d82d;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #82c91e;
		outline: none;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
/*---------------------
 kết thúc  modal đăng nhập
-----------------------*/

/*---------------------
  modal đăng ký
-----------------------*/

#label_ip{
	float:left;
}
#dangky{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
	background:#a9e34b;
}
.modal-title {
    margin-left:180px;
    line-height: 1.42857143;
	color:white;
	
}

/*---------------------
  kết thúc modal đăng ký
-----------------------*/


/*---------------------
  Hero
-----------------------*/

.hero {
	padding-bottom: 5px;
	padding-top: 20px;
	background:white;
	margin-bottom:20px;
}

.hero.hero-normal {
	padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
	position: relative;
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

.hero__categories__all {
	background: green;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
}

.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}



.hero__categories ul {
	border: 1px solid green;
	
	padding-bottom: 12px;
}



.hero__categories ul li {
	list-style: none;
	position:relative;
	margin:4px 0;
	
	
}
.hero__categories ul li:hover
{
	background:green;
}

.hero__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
	margin:0 10px;
}
.hero__categories ul li a:hover{
	color:white;
}
.hero__categories ul li a i{
	float:right;
	line-height: 39px;
}

/* menu con*/

.hero__categories ul li:hover .sub-menu{
	display:block;
}
/*end menu con*/

.hero__categories .sub-menu{
	position:absolute;
	left:290px;
	z-index:9;
	width:250px;
	background:white;
	top:0;
	display:none;
}
/*slide chạy*/

.slide .carousel-inner .item #img-index {
    width: 100%;
    height: 330px !important;
    float: left;
    margin-right: 3px;
}
.glyphicon {
    position: relative;
    top: -150px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size:25px;
}
.icon-right{
	left:880px;
}
/*end silde chạy*/

/* tìm kiếm*/
.hero__search {
	overflow: hidden;
	margin-bottom: 30px;
}

.hero__search__form {
	width: 700px;
	height: 50px;
	border: 1px solid green;
	position: relative;
	float: left;
	background:white;
}




.hero__search__form form input {
	width: 80%;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
}

.hero__search__form form input::placeholder {
	color: green;
}

.hero__search__form form button {
	position: absolute;
	right: 0;
	top: 0px;
	height: 48px;
	background:green;
	color:white;
	
}
.hero__search__form form button:hover{
	background:#5c940d;
}

.hero__search__phone {
	float:right;
}

.hero__search__phone__icon {
	font-size: 18px;
	height: 50px;
	width: 50px;
	float:left;
	font-size:30px;
}
.hero__search__phone__icon a i{
	color:green;
}

.hero__search__phone__text {
	overflow: hidden;
}

.hero__search__phone__text h6 {
	color: green;
	font-weight: 700;
	margin-top:10px;
	
}

.hero__search__phone__text span {
	font-size: 14px;
	color: #6f6f6f;
}
.hero__search__phone__text span b{
	color:red;
}

/*end tim kiem*/

.hero__item {
	height: 431px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}

.hero__text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #7fad39;
}

.hero__text h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text p {
	margin-bottom: 35px;
}

.slide .carousel-inner .item #img-index {
    width: 100%;
    height: 300px;
    float: left;
    margin-right: 3px;
}


/*---------------------
  Shop Details
-----------------------*/
.detail .col-sm-9{
	background:white;
	border-right:3px solid #e5e9f0;
	
	
	
}
.detail .col-sm-9 .img_minhoa img{
	width:300px;
	height:350px;
	margin:5px;
}

.detail .col-sm-9 h4{
	color:green;
	border-bottom:1px solid black;
	margin-bottom:5px;
	padding-bottom:5px;
}

.detail .col-sm-9 .label_detail
{
	font-size:18px;
}
.detail .col-sm-9 #price{
	color:red;
}
.detail .col-sm-9 .item_price
{
	color:red;
	font-size:18px;
	font-weight:bold;
}
.detail .col-sm-9 .item{
	font-size:18px;
}

.detail .add_cart{
	border:1px solid green;
	border-radius:20px;
	padding:10px;
	color:green;
	
}
.detail #discount{
	text-decoration: line-through;
}
.detail .add_cart:hover{
	background:green;
	color:white;
}
.doitra {
	
	background:white;
	
	
}

.doitra h5{
	color:green;
	font-weight:bold;
}
.doitra i{
	color:green;
	font-size:30px;
	margin-right:5px;
	float:left;
	
	
}
.doitra .chinhsach{
	margin:20px 0;
	border-bottom-style: dotted;;
	padding:10px 0;
}


.detail .col-sm-9 .label_mota
{
	background:green;
	padding:10px;
	color:white;
	margin:0;
	margin-top:20px;
}

.detail .col-sm-9 .content_mota
{
	border-top:2px solid green;
	font-size:18px;
	
}
/*---------------------
  end Details
-----------------------*/

/*---------------------
  Details dropdowwn
-----------------------*/
.dropdown-submenu {
  position: relative;
  
}
.open > .dropdown-menu {
    display: block;
    width: 100%;
}

#dLabel{
	width:100%;
	background: green;
padding: 10px 25px 10px 40px;
border:0;
border-radius:0;
}


#dLabel span{
	font-size: 18px;
font-weight: 700;
color: #ffffff;
	
}

#dLabel i{
	font-size: 18px;
	font-weight: 700;
	margin:0 10px;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
 
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: black;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
 
}

.dropdown-menu > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: green;
}
.dropdown-menu > li > a{
	font-size: 16px;
color: #1c1c1c;
padding:10px;

}
/*---------------------
   end Details dropdowwn
-----------------------*/

/*---------------------
  slide navbar left sp
-----------------------*/


.gird-left .title-nav{
	background:green;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;

}
.gird-left .title-nav h5{
	color: white;

}
.gird-left .left-news .item-news {
	
	height: auto;
	margin-bottom: 10px;
	
}
.gird-left .left-news .item-news img{
	width: 80px;
	height: 100px;
	margin-right: 3px;
	float: left;
}
.gird-left .left-news .item-news a{
	color: black;
}
.gird-left .left-news .item-news a:hover{
	color: green;
}
.clear{
	clear: both;
}


/*---------------------
  end slide navbar left sp
-----------------------*/






/*---------------------
  Checkout
-----------------------*/

.wrapper{
    background: #f7f7f7;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	margin:10px;
}

/*---------------------
  end Checkout
-----------------------*/



/*---------------------
  tin tức
-----------------------*/
#panel {
	
    margin-bottom: 20px;
	margin:auto;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	width:1150px;
	
}
#heading-news{
	font-size:30px;
	text-align:center;
	font-weight:bold;
}

.clear{
	clear:both;
}



.news-list .item-news img{
 width:200px;
 height:250px;
 float:left;
 margin-right:20px;
}
.news-list .item-news{
	margin:20px;
	border-bottom:1px solid #dee2e6;
	padding-bottom: 15px;
}
.news-list .item-news .title-news a{
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-size: 24px;

}
.news-list .item-news .title-news a:hover{
	color:green;
}
/*---------------------
   end tin tức
-----------------------*/




/* Quảng cáo giao hàng*/
.giaohang
{
	
	text-align:center;
	background:white;
	
}
 .giaohang p{
	 font-size:25px;
	 font-weight:both;
	 margin:10px 0;
 }
  .giaohang b{
	  color:black;
  }
  .giaohang i{
	  color:green;
	  
  }
 
/*kết thúc Quảng cáo giao hàng*/
  
  
/*phần sản phẩm trang index*/

.flashsale-header{
	width:100%s;
	
	margin-top:25px;
	
	background:green;
	
	height:50px;
	display:flex;

	
}
.flashsale-header a {
    display: flex;
    align-items: center;
}
.flashsale-header-title {
    font-weight: bold;
    margin-left: 0.3em;
    font-size: 20px;
    color: white;
	text-shadow: 2px 2px black;
}

.sp{
	
	background:white;
	border-top:2px solid green;
	padding:10px 0px;
	
	
}
.sp-slide{
	background: white;
	margin-top: 10px;
}



/*phần sản phẩm */

.flashsale-header-pro{
	width:100%;
	
	margin-top:25px;
	
	background:green;
	
	height:40px;
	display:flex;
	
	
}
.flashsale-header-pro a {
    display: flex;
    align-items: center;
}
.flashsale-header-title-pro {
    font-weight: bold;
    margin-left: 0.3em;
    font-size: 15px;
    color: white;
	text-shadow: 2px 2px black;
}

.sp_pro{
	
	background:white;
	border-top:2px solid green;
	
	
}



/*nav sản phẩm */
.nav-sp .loc{
	margin-top:15px;
	padding:20px 0;
	margin-bottom:10px;
	text-align: center;
	
	
	
}

.nav-sp .loc h5{
	font-size:20px;
	margin-bottom:10px;
	
	color: white;
	background: green;
	padding: 10px;
	
}


.nav-sp .danhmuc{
	
	margin-top:10px;
	padding:15px 0px;
	text-align: center;
}
.nav-sp .danhmuc h5{
	
	padding: 10px;
	color: white;
	background: green;
}

.nav-sp .danhmuc .item_dm{
	color:red;
	font-weight:bold;
}

.nav-sp .danhmuc ul{
	margin:10px 0;

}
.nav-sp .danhmuc ul li{
	list-style:none;
	margin:8px 0;
	margin-left:5px;
	
}
.nav-sp .danhmuc ul li a{
	font-size:16px;
}
/* kết thúc nav sản phẩm */

/*---------------------
  Footer
-----------------------*/

.footer {
	margin-top:30px;
	background: white;
	padding-top: 70px;
	padding-bottom: 0;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}
.footer__widget .map{
	width:400px;
	height:200px;
	border:1px solid black;	
}

.footer__widget h6 {
	color: green;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}
footer__widget ul li a:hover{
	color:green;
}

/*---------------------
  dang nhap
-----------------------*/


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 130px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
	margin-top: 10px;
	color: white;
	font-size: 20px;
    
}
/*---------------------
  end dang nhap
-----------------------*/


/*---------------------
  Map
-----------------------*/

.map {
	height: 500px;
	position: relative;
}

.map iframe {
	width: 100%;
}

.map .map-inside {
	position: absolute;
	left: 50%;
	top: 160px;
	-webkit-transform: translateX(-175px);
	-ms-transform: translateX(-175px);
	transform: translateX(-175px);
}

.map .map-inside i {
	font-size: 48px;
	color: #7fad39;
	position: absolute;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translateX(-18px);
	-ms-transform: translateX(-18px);
	transform: translateX(-18px);
}

.map .map-inside .inside-widget {
	width: 350px;
	background: #ffffff;
	text-align: center;
	padding: 23px 0;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
	box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget:after {
	position: absolute;
	left: 50%;
	bottom: -30px;
	-webkit-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-6px);
	border: 12px solid transparent;
	border-top: 30px solid #ffffff;
	content: "";
	z-index: -1;
}

.map .map-inside .inside-widget h4 {
	font-size: 22px;
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
	list-style: none;
	font-size: 16px;
	color: #666666;
	line-height: 26px;
}

/*---------------------
  Contact Form
-----------------------*/

.contact__form__title {
	margin-bottom: 50px;
	text-align: center;
}

.contact__form__title h2 {
	color: #1c1c1c;
	font-weight: 700;
}

.contact-form {
	padding-top: 80px;
	padding-bottom: 80px;
}

.contact-form form input {
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 20px;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.contact-form form input::placeholder {
	color: #6f6f6f;
}

.contact-form form textarea {
	width: 100%;
	height: 150px;
	font-size: 16px;
	color: #6f6f6f;
	padding-left: 20px;
	margin-bottom: 24px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding-top: 12px;
	resize: none;
}

.contact-form form textarea::placeholder {
	color: #6f6f6f;
}

.contact-form form button {
	font-size: 18px;
	letter-spacing: 2px;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu ul li {
		margin-right: 45px;
	}
	.hero__search__form {
		width: 490px;
	}
	.hero__categories__all {
		padding: 10px 25px 10px 20px;
	}
	.hero__categories ul {
		padding-left: 20px;
	}
	.latest-product__slider.owl-carousel .owl-nav {
		right: 0;
	}
	.product__details__tab .nav-tabs:before {
		width: 265px;
	}
	.product__details__tab .nav-tabs:after {
		width: 265px;
	}
	.shoping__discount form input {
		width: 240px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 485px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		left: -20px;
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -20px;
	}
	.filter__sort .nice-select {
		padding-left: 5px;
		padding-right: 28px;
	}
	.product__details__quantity {
		margin-bottom: 10px;
	}
	.product__details__text .primary-btn {
		margin-bottom: 10px;
	}
	.product__details__tab .nav-tabs:before {
		width: 150px;
	}
	.product__details__tab .nav-tabs:after {
		width: 150px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.header .container {
		position: relative;
	}
	.humberger__menu__wrapper {
		width: 300px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}
	.humberger__menu__logo {
		margin-bottom: 30px;
	}
	.humberger__menu__logo a {
		display: inline-block;
	}
	.humberger__menu__contact {
		padding: 10px 0 13px;
	}
	.humberger__menu__contact ul li {
		font-size: 14px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}
	.humberger__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}
	.humberger__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}
	.humberger__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}
	.humberger__menu__cart ul li a {
		position: relative;
	}
	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}
	.humberger__menu__cart ul li a span {
		height: 13px;
		width: 13px;
		background: #7fad39;
		font-size: 10px;
		color: #ffffff;
		line-height: 13px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: -12px;
	}
	.humberger__menu__cart .header__cart__price {
		font-size: 14px;
		color: #6f6f6f;
		display: inline-block;
	}
	.humberger__menu__cart .header__cart__price span {
		color: #252525;
		font-weight: 700;
	}
	.humberger__menu__cart {
		margin-bottom: 25px;
	}
	.humberger__menu__widget {
		margin-bottom: 20px;
	}
	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}
	.humberger__menu__nav {
		display: none;
	}
	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.humberger__menu__wrapper .slicknav_btn {
		display: none;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}
	.humberger__menu__wrapper .slicknav_nav {
		display: block !important;
	}
	.humberger__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.humberger__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}
	.humberger__menu__wrapper .slicknav_nav a {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	.humberger__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: #7fad39;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_row,
	.humberger__menu__wrapper .slicknav_nav a {
		padding: 8px 0;
	}
	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero__categories {
		margin-bottom: 30px;
	}
	.hero__search {
		margin-bottom: 30px;
	}
	.hero__search__form {
		width: 100%;
	}
	.hero__search__form form input {
		width: 100%;
	}
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.hero__search__phone {
		float: left;
		margin-top: 30px;
	}
	.categories__slider.owl-carousel .owl-nav {
		text-align: center;
		margin-top: 40px;
	}
	.categories__slider.owl-carousel .owl-nav button {
		position: relative;
		left: 0;
		top: 0;
		
	}
	.categories__slider.owl-carousel .owl-nav button.owl-next {
		right: -10px;
	}
	.footer__copyright {
		text-align: center;
	}
	.footer__copyright__text {
		float: none;
		margin-bottom: 25px;
	}
	.footer__copyright__payment {
		float: none;
	}
	.filter__item {
		text-align: center;
	}
	.filter__option {
		text-align: center;
	}
	.product__details__pic {
		margin-bottom: 40px;
	}
	.product__details__tab .nav-tabs:before {
		display: none;
	}
	.product__details__tab .nav-tabs:after {
		display: none;
	}
	.shoping__cart__table {
		overflow-y: auto;
	}
	.shoping__discount form input {
		margin-bottom: 15px;
	}
	.blog__details__author {
		overflow: hidden;
		margin-bottom: 25px;
	}
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 22px;
	}
	.header .container {
		position: relative;
	}
	.humberger__menu__wrapper {
		width: 300px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}
	.humberger__menu__logo {
		margin-bottom: 30px;
	}
	.humberger__menu__logo a {
		display: inline-block;
	}
	.humberger__menu__contact {
		padding: 10px 0 13px;
	}
	.humberger__menu__contact ul li {
		font-size: 14px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}
	.humberger__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}
	.humberger__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}
	.humberger__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}
	.humberger__menu__cart ul li:last-child {
		margin-right: 0;
	}
	.humberger__menu__cart ul li a {
		position: relative;
	}
	.humberger__menu__cart ul li a i {
		font-size: 18px;
		color: #1c1c1c;
	}
	.humberger__menu__cart ul li a span {
		height: 13px;
		width: 13px;
		background: #7fad39;
		font-size: 10px;
		color: #ffffff;
		line-height: 13px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: -12px;
	}
	.humberger__menu__cart .header__cart__price {
		font-size: 14px;
		color: #6f6f6f;
		display: inline-block;
	}
	.humberger__menu__cart .header__cart__price span {
		color: #252525;
		font-weight: 700;
	}
	.humberger__menu__cart {
		margin-bottom: 25px;
	}
	.humberger__menu__widget {
		margin-bottom: 20px;
	}
	.humberger__menu__widget .header__top__right__language {
		margin-right: 20px;
	}
	.humberger__menu__nav {
		display: none;
	}
	.humberger__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.humberger__menu__wrapper .slicknav_btn {
		display: none;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}
	.humberger__menu__wrapper .slicknav_nav {
		display: block !important;
	}
	.humberger__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.humberger__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}
	.humberger__menu__wrapper .slicknav_nav a {
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	.humberger__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: #7fad39;
	}
	.humberger__menu__wrapper .slicknav_nav .slicknav_row,
	.humberger__menu__wrapper .slicknav_nav a {
		padding: 8px 0;
	}
	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__cart {
		text-align: center;
		padding: 10px 0 24px;
	}
	.over_hid {
		overflow: hidden;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.hero__search__form form .hero__search__categories {
		display: none;
	}
	.featured__controls ul li {
		margin-bottom: 10px;
	}
	.product__details__text ul li b {
		width: 100px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 20px;
	}
	.shoping__cart__btns {
		text-align: center;
	}
	.primary-btn.cart-btn.cart-btn-right {
		float: none;
		margin-top: 10px;
	}
	.shoping__checkout .primary-btn {
		display: block;
		text-align: center;
		padding: 10px 15px 10px;
	}
	.map .map-inside {
		-webkit-transform: translateX(-125px);
		-ms-transform: translateX(-125px);
		transform: translateX(-125px);
	}
	.map .map-inside .inside-widget {
		width: 250px;
	}
	.product__details__tab .nav-tabs li {
		margin-right: 15px;
	}
	.shoping__discount form input {
		width: 100%;
	}
	.checkout__order {
		padding: 20px;
	}
	.blog__details__hero__text h2 {
		font-size: 24px;
	}
}









/* ========phần list product=====*/




    h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em
    }
    .demo {
    padding: 45px 0
    }
    .product-grid2 {
    font-family: 'Open Sans', sans-serif;
    position: relative
    }
    .product-grid2 .product-image2 {
    overflow: hidden;
    position: relative
    }
    .product-grid2 .product-image2 a {
    display: block
    }
    .product-grid2 .product-image2 img {
    width: 100%;
    height: auto
    }
    .product-image2 .pic-1 {
    opacity: 1;
    transition: all .5s
    }



    .product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
    }
    .product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
    }
    .product-grid2:hover .social li {
    transform: translateX(0)
    }
    .product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
    }
    .product-grid2:hover .social li:nth-child(3) {
	transition-delay: .25s;
	
    }
    .product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
    }
    .product-grid2 .social li a:hover {
    color: #fff;
    background-color: green;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
    }
    .product-grid2 .social li a:after,
    .product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
    }
    .product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
    }
    .product-grid2 .social li a:hover:after,
    .product-grid2 .social li a:hover:before {
	opacity: 1;
	
    }
    .product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
    }
    .product-grid2 .add-to-cart:hover {
    background-color:green;
    text-decoration: none;
    }
    .product-grid2:hover .add-to-cart {
    bottom: 0
    }
    .product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
    }
    .product-grid2:hover .product-new-label {
    opacity: 0;
	}
	
    .product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center;
    }
    .product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px;
    }
    .product-grid2 .title a {
    color: #303030;
    }
    .product-grid2 .title a:hover {
    color: green;
    }
    .product-grid2 .price {
    color: #303030;
    font-size: 15px
	}
	.sp_dis{
	
		border: 1px solid green;
	}