

 body {
    background-color:#04B173;
}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
    background-color:#04B173; 
}

#page-wrapper {
    padding: 10 10px;
    background-color:rgb(209, 212, 216);
}
#page-wrapper .title{
    border-bottom-style: double;
}
#page-wrapper .title h3{
    font-weight: bold;
    
}
#page-wrapper .row{
    margin: 10px;
}
#page-wrapper .row .tieude{
    color: blue;
    font-weight: bold;
}
#page-wrapper .row  td .red{
    color: red;
}
#page-wrapper .row  td a{
    float: right;
    text-decoration: none;
    color: black;
}
#page-wrapper .row  td a:hover{
    color: palevioletred;
}
#page-wrapper .row .panel-heading{
    font-weight: bold;
}



/* Sidebar Menu Styles */

 
.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* login page */

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {        
    margin-bottom: 15px;
    
    
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
    color:white ;
    background: #BDBDBD;
    border-radius: 20px;
   
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 20px;
   
}
.input-group-addon .fa {
    font-size: 18px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}






/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}


